{% extends 'snippets/base.html' %}
{% load static %}

{% block content %}


    <div class="container">

    </div>


    <div class="listing-card col-md-6 col-sm-12 card pg-3 p-3 mt-3 hover-shadow ">
        <div class="row no-gutters">
            <div class="col-lg-12">

                <div class="owl-carousel owl-1">
                    <div><img src="{% static 'img/man.jpg' %}" alt="Image" height="250" class="card-img img-listing-screenshot"></div>
                    <div><img src="{% static 'img/man.jpg' %}" alt="Image" height="250" class="card-img img-listing-screenshot">
                    </div>
                    <div><img src="{% static 'img/man.jpg' %}" alt="Image" height="250" class="card-img img-listing-screenshot"></div>
                </div>

                <div class="col-lg-9 pl-lg-3 d-flex flex-column justify-content-between">
                    <a href=""> </a>
                    <div>
                        </a>
                        <div class="col-lg-12">

                            <div class="d-flex flex-nowrap justify-content-between mb-2 mt-2 pr-lg-12">
                                <div>
                                    <div class="text-muted">Subscribers</div>
                                    <div class="font-weight-bold text-truncate">78736</div>
                                </div>

                                <div>
                                    <div class="text-muted">Monetization</div>
                                    <div class="font-weight-bold text-truncate">Adsence</div>
                                </div>
                                <div class="d-none d-xl-block">
                                    <div class="text-muted">Total Views</div>
                                    <div class="font-weight-bold text-truncate">67878876</div>
                                </div>
                                <div>
                                    <div class="text-muted text-truncate">Revenue</div>
                                    <div class="font-weight-bold text-truncate">
                                        <span> USD $6,511 p/mo</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="">
                    <div class="text-nowrap_">
                        <span class="text-muted">Price</span>
                    </div>
                    <h5 class="m-0 mt-1">$125,000</h5>
                </div>
                <div class=" text-right align-self-end">
                    <div class="text-nowrap_">
                        <span class="text-muted">Category</span>
                    </div>
                    <h5 class="m-0 mt-1">Entertainment</h5>
                </div>
                <div class=" text-right align-self-end">
                    <div class="text-nowrap_">
                        <span class="text-muted">Location</span>
                    </div>
                    <h5 class="m-0 mt-1">Mwanza</h5>
                </div>
            </div>
        </div>
        <p class="card-text text-muted mt-2 pr-lg-6">Newly Monetized Channel For Sale | Ready To Change Adsense Account,
            has organic views with total of 50 unique videos</p>
        <div class="mx-2 d-flex justify-content-between">
            <button class="btn btn-success">BUY NOW</button>
            <button class="btn btn-success">ESCROW</button>

        </div>
        <br>
    </div>
    </div>
    <h6 class="p-3">Related Items</h6>


{% endblock %}