{% extends 'snippets/base.html' %}
{% load static %}

{% block content %}
<style>
    @media (min-width: 768px) {
      /* Styles for screens larger than or equal to 768px width (non-mobile) */
      .cx {
        width: 500px;
      }
    }

    @media (max-width: 768px) {
        /* Styles for screens larger than or equal to 768px width (non-mobile) */
        .cx {
          width: 400px;
        }
      }

      .btn-success2{
        height: 60px;
        width: 500px;
        color: #fff;
        font-size: 22px;
        background-color: #1c2331;
      }


      
#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  .active{
   background-color: #428bca;
  }
  


  </style>
  

  
<div id="exTab3" class="container">	
  <ul  class="nav nav-pills">
			<li class="active p-1" ">
        <a class="text-decoration-none" href="#1b" data-toggle="tab">
            Profile
        </a>
			</li>
			<li class="p-1">
                <a class="text-decoration-none" href="#2b" data-toggle="tab">Products</a>
			</li>
			
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1b">
          <h3>tab 1</h3>
				</div>
				<div class="tab-pane" id="2b">
          <h3>tab 2</h3>
				</div>
        
			</div>
  </div>



<div class="d-flex justify-content-center align-items-center pg-3 p-3 m-3 hover-shadow">
    <div class="row no-gutters">
        <div class="card p-3 cx"">

            <div id="exTab3" class="container">	
                <ul  class="nav nav-pills">
                          <li class="active p-1" ">
                      <a class="text-decoration-none" href="#1b" data-toggle="tab">
                          Profile
                      </a>
                          </li>
                          <li class="p-1">
                              <a class="text-decoration-none" href="#2b" data-toggle="tab">Products</a>
                          </li>
                          
                      </ul>
              
                          <div class="tab-content clearfix">
                            <div class="tab-pane active" id="1b">


                                <h5 class="text-center">Sell Youtube Channel</h5>
                                <form action="" method="post">
                                    {% for field in form %}
                                    <div class="form-group mb-2">
                                        <label for="">{{field.label}}</label>
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                    <br>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-success2">SUBMIT</button>
                                    </div>
                                </form>
                            
                            </div>
                              <div class="tab-pane" id="2b">
                        <h3>tab 2</h3>
                              </div>
                      
                          </div>
                </div>


            
        </div>
    </div>
</div>


{% endblock %}